In [13]:
import pandas as pd
import numpy as np
df = pd.read_csv('CleanedData.csv', index_col=0)
df.head(3138)

,Date,Sales_Amount,Units_Sold,Product_Category,Product_Name,Revenue.1,Customer_Rating,Sales_Channel
2,2005-01-01,"£19,407",77,Electronics,Headphones,"£3,529",3,Online
5,2005-04-01,"£14,408",53,Electronics,Tablet,"£3,532",2,In-Store
14,2005-01-13,"£7,483",29,Electronics,Headphones,"£3,541",1,Online
15,2005-01-14,"£13,848",84,Electronics,Tablet,"£3,542",5,In-Store
17,2005-01-16,"£16,247",95,Electronics,Tablet,"£3,544",3,Online
...,...,...,...,...,...,...,...,...
7295,2024-12-20,"£14,165",75,Mobile Phones,Smartphone,"£10,822",3,Online
7296,2024-12-21,"£17,954",53,Electronics,Tablet,"£10,823",2,In-Store
7298,2024-12-23,"£14,880",71,Computers,Laptop,"£10,825",5,In-Store
7299,2024-12-24,"£17,599",94,Electronics,Tablet,"£10,826",4,In-Store
7302,2024-12-27,"£9,130",23,Electronics,Tablet,"£10,829",3,In-Store

## Calculates summary stats for dataset

In [14]:
# Calculates summary stats fo numeric columns
df['Revenue.1'] = df['Revenue.1'].str.lstrip("£")
df['Revenue.1'] = df['Revenue.1'].str.replace(",","")
df['Revenue.1'] = df['Revenue.1'].astype(int)

df['Sales_Amount'] = df['Sales_Amount'].str.lstrip("£")
df['Sales_Amount'] = df['Sales_Amount'].str.replace(",","")
df['Sales_Amount'] = df['Sales_Amount'].astype(int)

print(df.describe())

       Sales_Amount   Units_Sold     Revenue.1  Customer_Rating
count   3138.000000  3138.000000   3138.000000      3138.000000
mean   12004.483429    44.631931   7224.471001         3.010516
std     5193.919537    27.245597   2091.186699         1.278130
min      505.000000     1.000000   3529.000000         1.000000
25%     8501.750000    22.000000   5389.500000         2.000000
50%    12679.500000    38.000000   7227.500000         3.000000
75%    16172.250000    68.000000   9030.750000         4.000000
max    19987.000000    99.000000  10829.000000         5.000000

## Correlation analysis of dataset

In [15]:
# Correlation analysis:
df.corr()

                 Sales_Amount  Units_Sold  Revenue.1  Customer_Rating
Sales_Amount         1.000000    0.488056  -0.025068         0.002041
Units_Sold           0.488056    1.000000  -0.012932        -0.010736
Revenue.1           -0.025068   -0.012932   1.000000         0.020597
Customer_Rating      0.002041   -0.010736   0.020597         1.000000

## Category based analysis (product category)

In [16]:
# Count of Products per each category
n_by_category = df.groupby("Product_Category")["Product_Name"].count()
n_by_category.head()

Product_Category
Computers         755
Electronics      1631
Mobile Phones     752
Name: Product_Name, dtype: int64

In [17]:
# Mean revenue by product category
revenue_by_category = df.groupby("Product_Category")["Revenue.1"].mean()
revenue_by_category.head()

Product_Category
Computers        7250.511258
Electronics      7219.524831
Mobile Phones    7209.054521
Name: Revenue.1, dtype: float64

In [22]:
# Total revenue per category
tot_revenue_by_category = df.groupby("Product_Category")["Revenue.1"].sum()
tot_revenue_by_category.head()

Product_Category
Computers         5474136
Electronics      11775045
Mobile Phones     5421209
Name: Revenue.1, dtype: int32

In [19]:
# Mean ratings per product category
rating_by_category = df.groupby("Product_Category")["Customer_Rating"].mean()
rating_by_category.head()

Product_Category
Computers        2.969536
Electronics      3.029430
Mobile Phones    3.010638
Name: Customer_Rating, dtype: float64

In [20]:
# Mean sales per product category
sales_by_category = df.groupby("Product_Category")["Units_Sold"].mean()
sales_by_category.head()

Product_Category
Computers        45.573510
Electronics      44.296137
Mobile Phones    44.414894
Name: Units_Sold, dtype: float64

In [23]:
# total sales per product category
tot_sales_by_category = df.groupby("Product_Category")["Units_Sold"].sum()
tot_sales_by_category.head()

Product_Category
Computers        34408
Electronics      72247
Mobile Phones    33400
Name: Units_Sold, dtype: int64

In [21]:
# Sales amount per product category
sale_amount_by_category = df.groupby("Product_Category")["Sales_Amount"].mean()
sale_amount_by_category.head()

Product_Category
Computers        11962.838411
Electronics      12069.369712
Mobile Phones    11905.563830
Name: Sales_Amount, dtype: float64

In [24]:
# total Sales amount per product category
tot_sale_amount_by_category = df.groupby("Product_Category")["Sales_Amount"].sum()
tot_sale_amount_by_category.head()

Product_Category
Computers         9031943
Electronics      19685142
Mobile Phones     8952984
Name: Sales_Amount, dtype: int32

## Product based analysis (Product Name)

In [33]:
# Mean revenue by product
revenue_by_product = df.groupby("Product_Name")["Revenue.1"].mean()
revenue_by_product.head()

Product_Name
Headphones    7236.944900
Laptop        7250.511258
Smartphone    7209.054521
Tablet        7200.425450
Name: Revenue.1, dtype: float64

In [34]:
# Total revenue per product
tot_revenue_by_product = df.groupby("Product_Name")["Revenue.1"].sum()
tot_revenue_by_product.head()

Product_Name
Headphones    6173114
Laptop        5474136
Smartphone    5421209
Tablet        5601931
Name: Revenue.1, dtype: int32

In [35]:
# Mean ratings per product 
rating_by_product = df.groupby("Product_Name")["Customer_Rating"].mean()
rating_by_product.head()

Product_Name
Headphones    3.024619
Laptop        2.969536
Smartphone    3.010638
Tablet        3.034704
Name: Customer_Rating, dtype: float64

In [36]:
# Mean sales per product 
sales_by_product = df.groupby("Product_Name")["Units_Sold"].mean()
sales_by_product.head()

Product_Name
Headphones    44.094959
Laptop        45.573510
Smartphone    44.414894
Tablet        44.516710
Name: Units_Sold, dtype: float64

In [38]:
# total sales per product 
tot_sales_by_product = df.groupby("Product_Name")["Units_Sold"].sum()
tot_sales_by_product.head()

Product_Name
Headphones    37613
Laptop        34408
Smartphone    33400
Tablet        34634
Name: Units_Sold, dtype: int64

In [39]:
# Sales amount per product 
sale_amount_by_product = df.groupby("Product_Name")["Sales_Amount"].mean()
sale_amount_by_product.head()

Product_Name
Headphones    12164.155920
Laptop        11962.838411
Smartphone    11905.563830
Tablet        11965.446015
Name: Sales_Amount, dtype: float64

In [40]:
# total Sales amount per product 
tot_sale_amount_by_product = df.groupby("Product_Name")["Sales_Amount"].sum()
tot_sale_amount_by_product.head()

Product_Name
Headphones    10376025
Laptop         9031943
Smartphone     8952984
Tablet         9309117
Name: Sales_Amount, dtype: int32

## Individualised analysis on favourite product:

In [31]:
# Total sales amount for headphones
tot_salesA_headphones = df[df["Product_Name"] == "Headphones"]["Sales_Amount"].sum()
print("total:",tot_salesA_headphones)

# mean sales amount for headphones
mean_salesA_headphones = df[df["Product_Name"] == "Headphones"]["Sales_Amount"].mean()
print("mean:",mean_salesA_headphones)

total: 10376025
mean: 12164.15592028136

In [32]:
# Total and mean revenue for headphones
mean_revenue_headphones = df[df["Product_Name"] == "Headphones"]["Revenue.1"].mean()
print("mean:",mean_revenue_headphones)

total_revenue_headphones = df[df["Product_Name"] == "Headphones"]["Revenue.1"].sum()
print("total:",total_revenue_headphones)

mean: 7236.9449003517
total: 6173114

In [43]:
# Count of Products 
n_by_category = df.groupby("Product_Name")["Product_Category"].count()
n_by_category.head()

Product_Name
Headphones    853
Laptop        755
Smartphone    752
Tablet        778
Name: Product_Category, dtype: int64